.radius{
    border-radius: 20px;
}
div{
    font-family: 'Nunito', sans-serif;
  }
.input-underline{
    border-radius: unset;
    border-top: unset;
    border-left: unset;
    border-right: unset;
    border-bottom: 1px grey solid;
}
.input-underline:focus{
    outline: unset;
}

.background-login{
    background-image: url("/src/assets/images/login-image.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-profile{
    background-image: url("/src//assets/images/bg-profile.png");
}

.background-transparent{
    color: black(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.5);
}
.bg-footer{
    background-size: cover;
    height: max-content;
}
.btn-forgot{
    text-align: center;
}

.shadow-new{
    box-shadow: 0 4rem 4rem rgba(black, .275)
}



.rb{
    font-family: 'Rubik', sans-serif;
}
.primary{
    color: #483434;
}
.active{
    color:#483434;
}
.pt-6{
    padding-top: 8rem;
}
ul{
    list-style-type: none;
    padding-left: 0 !important;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    line-height: 30px;
}
.fw-medium{
    font-weight: 500;
}
.icon{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bg-none{
    background-color: unset;
    border: unset;
}   
.pps{
    font-family: 'Popins', sans-serif;
}

