.radius{
    border-radius: 20px;
}
div{
    font-family: 'Nunito', sans-serif;
  }
.input-underline{
    border-radius: unset;
    border-top: unset;
    border-left: unset;
    border-right: unset;
    border-bottom: 1px grey solid;
}
.input-underline:focus{
    outline: unset;
}

.background-login{
    background-image: url("/src/assets/images/login-image.png");
}
.background-transparent{
    color: black(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.5);
}
.bg-footer{
    background-size: cover;
    height: max-content;
}
.btn-forgot{
    text-align: center;
}