
$theme-colors: (
    "info": tomato,
    "danger": teal,
    "pallet-1":   #483434,
    "pallet-2":   #6B4F4F,
    "pallet-3":   #EED6C4,
    "pallet-4":   #FFF3E4,
    "primary":    #483434,
    "secondary":  #6B4F4F,
    "warning":    #FFF3E4,
    "light":      #EED6C4,
);
@import "~bootstrap/scss/bootstrap";
@import "./homepage.scss";
.radius{
    border-radius: 15px;
}
.nav .nav-link.active{
    color: red;
}

